<nav class="panel is-link">
  <p class="panel-heading">Empresas</p>
  <p class="panel-tabs">
    <a class="is-active">Contacto</a>
    <a
      hx-get="{{conf.server_protocol}}://{{conf.server_address}}:{{conf.server_port}}/help_enterprise_avance"
      hx-swap="innerHTML"
      hx-target="#enterprise-help"
      >Avance</a
    >
    <a
      hx-get="{{conf.server_protocol}}://{{conf.server_address}}:{{conf.server_port}}/help_enterprise_servicios"
      hx-swap="innerHTML"
      hx-target="#enterprise-help"
      >Servicios Ofecidos</a
    >
  </p>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-user-tie" aria-hidden="true"></i>
    </span>
    El contacto es una persona
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-industry" aria-hidden="true"></i>
    </span>
    Se contactó a una empresa
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-envelope" aria-hidden="true"></i>
    </span>
    Correo electrónico del contacto
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </span>
    Instagram del contacto o empresa
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-phone" aria-hidden="true"></i>
    </span>
    Número telefónico del contacto o de la empresa
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fab fa-linkedin" aria-hidden="true"></i>
    </span>
    LinkedIn de la empresa o del contacto.
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-calendar-alt" aria-hidden="true"></i>
    </span>
    Fecha de primer acercamiento con el contacto.
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-clipboard" aria-hidden="true"></i>
    </span>
    Notas y apuntes respecto de la cuenta
  </a>
</nav>
