<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item"></div>
  </div>

  <!-- Right side -->
  <div class="level-right control has-icons-left">
    <div class="level-item">
      <a
        class="button is-success"
        hx-post="{{conf.server_protocol}}://{{conf.hbs_target_address}}{{conf.hbs_target_port}}/htmx/schools/new"
        hx-swap="innerHTML"
        hx-target="#dynamic-content"
      >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Escuela</a
      >
      <span class="icon is-small is-left">
        <i class="fas fa-plus-circle"></i>
      </span>
    </div>
    <p class="level-item"><a></a></p>
    <p class="level-item"></p>
  </div>
</nav>
<div class="columns is-1">
  <div class="column is-3">
    <p class="notification is-info has-text-centered">Nombre</p>
  </div>
  <div class="column is-3">
    <p class="notification is-info has-text-centered">Contacto</p>
  </div>
  <div class="column is-1">
    <div class="notification is-info has-text-centered">
      <p class="has-text-centered">
        <span class="icon is-small is-left tooltip">
          <i class="fas fa-calendar-alt"></i>
          <span class="tooltiptext">Fecha de Contacto</span>
        </span>
      </p>
    </div>
  </div>
  <div class="column is-1">
    <div class="notification is-info has-text-centered">Avance</div>
  </div>
  <div class="column is-1">
    <div class="notification is-info has-text-centered">Notas</div>
  </div>
  <div class="column is-2">
    <div class="notification is-info has-text-centered">Ofrecimos</div>
  </div>
  <div class="column is-1">
    <div class="notification is-info has-text-centered">Editar</div>
  </div>
</div>
<!-- #enterprise-container .columns:nth-child(even) p -->
<div class="container" id="enterprise-container">
  {{#each schools}}
  <div class="columns is-0">
    <div class="column is-3">
      <p class="notification has-text-centered">
        <span class="icon is-small is-left tooltip">
          <i class="fas fa-chalkboard-teacher"></i>
          <span class="tooltiptext">
            {{#each (levels section.school_level)}} {{#if selected}}{{text}},
            {{/if}} {{/each}}
          </span>
        </span>
        {{#if section.school_name}} {{section.school_name}} {{else}}
        {{section.name}} {{section.last_name}} {{/if}}
      </p>
    </div>

    <div class="column is-3">
      <p class="notification has-text-centered">
        {{#if section.email}}
        <span class="icon is-small is-left tooltip">
          <a
            href="mailto:{{section.email}}"
            title="email {{section.name}} {{section.last_name}}"
            ><i class="fas fa-envelope"></i
          ></a>
          <span class="tooltiptext">email: {{section.email}}</span>
        </span>
        {{/if}} {{#if section.instagram}}
        <span class="icon is-small is-left tooltip">
          <a
            href="{{section.instagram}}"
            target="_blank"
            title="Instagram {{section.school_name}}"
            ><i class="fab fa-instagram"></i
          ></a>
          <span class="tooltiptext">instagram: {{section.instagram}}</span>
        </span>
        {{/if}} {{#if section.fb}}
        <span class="icon is-small is-left tooltip">
          <a
            href="{{section.fb}}"
            target="_blank"
            title="facebook {{section.school_name}}"
            ><i class="fab fa-facebook"></i
          ></a>
          <span class="tooltiptext">facebook: {{section.fb}}</span>
        </span>
        {{/if}} {{#if section.phone}}
        <span class="icon is-small is-left tooltip">
          <a
            href="{section.phone}}"
            target="_blank"
            title="Phone {{section.name}} {{section.last_name}}"
            ><i class="fas fa-phone"></i
          ></a>
          <span class="tooltiptext"
            >{{section.name}} {{section.last_name}}: {{section.phone}}</span
          >
        </span>
        {{/if}} {{#if section.linked_in}}
        <span class="icon is-small is-left tooltip">
          <a
            href="{{section.linked_in}}"
            target="_blank"
            title="linkedin: {{section.linked_in}}"
            ><i class="fab fa-linkedin"></i
          ></a>
          <span class="tooltiptext">LinkedIn: {{section.linked_in}}</span>
        </span>
        {{/if}}
      </p>
    </div>

    <div class="column is-1">
      <p class="notification is-small has-text-centered">
        <span class="icon is-small is-left tooltip">
          <i class="fas fa-calendar-alt"></i>
          <span class="tooltiptext">{{section.first_contact_date}}</span>
        </span>
      </p>
    </div>

    <div class="column is-1">
      {{#each funnel_tag}} {{#if selected}}
      <div class="notification is-small has-text-centered {{css}}">
        <span class="icon is-small is-left tooltip">
          <i class="{{icon}}"></i>
          <span class="tooltiptext">{{text}}</span>
        </span>
      </div>
      {{/if}} {{/each}}
    </div>

    <div class="column is-1">
      <p class="notification is-small has-text-centered">
        <span class="icon is-small is-left tooltip">
          <i class="fas fa-clipboard"></i>
          <span class="tooltiptext">{{section.notes}}</span>
        </span>
      </p>
    </div>

    <div class="column is-2">
      <p class="notification is-small has-text-centered">
        {{#each services_tag}} {{#if selected}}
        <span class="icon is-small is-left tooltip">
          <i class="{{icon}}"></i>
          <span class="tooltiptext">{{text}}</span>
        </span>
        {{/if}} {{/each}}
      </p>
    </div>

    <div class="column is-1">
      <p class="notification has-text-centered">
        <span
          class="icon is-small tooltip"
          hx-post="{{../conf.server_protocol}}://{{../conf.hbs_target_address}}{{../conf.hbs_target_port}}/htmx/schools/edit/{{section.uuid}}"
          hx-swap="innerHTML"
          hx-target="#dynamic-content"
        >
          <i class="fas fa-pencil-alt"></i>
          <span class="tooltiptext">Edit</span>
        </span>
      </p>
    </div>
  </div>
  {{/each}}
</div>
{{#each conf}}{{server_protocol}}{{/each}}{{#each
conf}}{{server_address}}{{/each}}
